.register-parent{
    height: 100%;
    padding: 0 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register{
    width: 100%;
    max-width: 700px;
    padding: 20px;
    background-color: #fff ;
}

.form-group col-md-4 button{
    color: gray;
}
.button {
    background-color: #4d4d4d   ;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    
}

.button:hover{
    transform: scale(1.05);
    transition: 0.3s;
}