<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, inicial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <link rel="stylesheet" href="../css/all.css">
        <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../plugins/fontawesome/js/all.min.js">
    </head>
    <body>
        <div class="flex-dashboard">
            <sidebar>
                <div class="sidebar-title">
                    <img src="../images/TSI.jpg">
                    <h2>Controle de Solicitação de Diaristas</h2>
                </div>
                <div class="menu">
                  <ul>
                      <li>
                        <i class="fas fa-map"></i>
                          <a href="../views/cadastrarCidade.html">Cadastro de Cidade</a>
                      </li>
                      <li>
                        <i class="fas fa-plus-square"></i>
                        <a href="../views/criarSolicitacao.html">Criar Solicitação</a>
                    </li>
                    <li>
                        <i class="fas fa-users"></i>
                        <a href="../views/pessoasCaptadas.html">Pessoas Captadas</a>
                    </li>
                    <li>
                        <i class="fas fa-pencil-alt"></i>
                        <a href="../views/solicitacoes.html">Solicitações</a>
                    </li>
                  </ul>
                </div>
            </sidebar>
            <main>
                <header>
                    <a href="../admin/dashboard.html"> <i class="fas fa-home"></i> Dashboard</a> 
                    <a href="../Login/login.html"> <i class="fas fa-sign-out-alt"></i> Logout</a> 
                </header>
                <div class="main-content">
                    <h1>Em Desenvolvimento</h1>
                    <table>
                        <tr>
                            <th>Número da Solicitação</th>
                            <th>Lider Responsavel</th>
                            <th>Cidade</th>
                            <th>Estado</th>
                            <th>Solicitante</th>
                            <th>Quantidade de Pessoas</th>
                        </tr>

                        <tr>
                            <th>1</th>
                            <th>Daniel Argolo</th>
                            <th>Uberlândia</th>
                            <th>Minas Gerais</th>
                            <th>Danielo Rabelo</th>
                            <th>40</th>

                        </tr>

                        <tr>
                            <th>2</th>
                            <th>São Paulo</th>
                            <th>45</th>
                            <th>35</th>
                        </tr>

                        <tr>
                            <th>3</th>
                            <th>Ribeirão Preto</th>
                            <th>50</th>
                            <th>35</th>
                        </tr>

                    </table>
                    
                </div>
            </main>
        </div>

        <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="../plugins/fontawesome/js/all.min.js"></script>
    </body>
</html>